<!-- update.component.html -->

<div class="container">
    <h2>Update Item</h2>
    <form (submit)="updateItem()">
      <div class="form-group">
        <label for="itemName" class="label">Item Name:</label>
        <input type="text" id="itemName" class="input" [(ngModel)]="itemName" name="itemName" required>
      </div>
      <div class="form-group">
        <label for="itemDescription" class="label">Item Description:</label>
        <textarea id="itemDescription" class="input" [(ngModel)]="itemDescription" name="itemDescription" rows="3"></textarea>
      </div>
      <button type="submit" class="button">Update Item</button>
    </form>
  </div>
  